.rest {
  .form {
    select[value='GET'] {
      background-color: #ebf8f2;
      color: #0a8754;
      border-left: 4px solid #0a8754;
    }
    select[value='POST'] {
      background-color: #e8f6f8;
      color: #0a758f;
      border-left: 4px solid #0a758f;
    }
    select[value='PUT'] {
      background-color: #fff7e6;
      color: #c5862b;
      border-left: 4px solid #c5862b;
    }
    select[value='DELETE'] {
      background-color: #ffebee;
      color: #d32f2f;
      border-left: 4px solid #d32f2f;
    }
    select[value='PATCH'] {
      background-color: #f3e5f6;
      color: #8e24aa;
      border-left: 4px solid #8e24aa;
    }
    select[value='HEAD'] {
      background-color: #e8eaf6;
      color: #3949ab;
      border-left: 4px solid #3949ab;
    }
    select[value='OPTIONS'] {
      background-color: #e0f7fa;
      color: #00acc1;
      border-left: 4px solid #00acc1;
    }
  }
}
