.rest {
  .form {
    width: 80%;
  }
  .container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
  }
  .container_search {
    flex: 5;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 4px;
    gap: 10px;
  }
  .selectSearch {
    flex: 0 1 auto;
  }
  select.selectSearch[value='GET'] {
    background-color: #ebf8f2;
    color: #0a8754;
    border-left: 4px solid #0a8754;
  }
  .inputSearch {
    flex: 1 1 auto;
    padding: 15px;
    border: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-left: 4px solid var(--border-color);
    background-color: var(--bg-dark);
    outline: none;
    font-size: 18px;
    color: var(--white);
  }
  input::placeholder {
    color: var(--gray-500);
  }
  .button {
    flex: 1;
  }
  .response {
    .code {
      font-size: 10px;
    }
  }
}
