.about {
  margin-top: 50px;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.img {
  border-radius: 100%;
}
.card {
  padding: 20px;
  min-height: 400px;
  max-width: 350px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  scale: 1.05;
}
.mt20 {
  margin-top: 20px;
}
