:root {
  --background-dark: #1a1a1a;
  --background-grey: #1c1c1c;
  --background-grey-hover: #262626;
  --background-focus: #caff33;
  --text-light: rgb(255, 255, 255);
  --text-grey: #1c1c1c;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-lexend);
  font-weight: 300;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background: url('../../public/background.svg') top left/100vw;
}

main {
  flex-grow: 1;
}

.appWrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
}

.container {
  min-width: 900px;
  margin: 20px auto;
  padding: 25px;
  height: 75px;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-grey);
  color: var(--text-light);
}

.container_dark {
  background-color: var(--background-dark);
  margin: 0;
}
