.title {
  margin: 20px;
}

.span {
  color: var(--background-focus);
}

.logo {
  color: var(--text-light);
}

.mainContent {
  width: 600px;
  margin-left: 350px;
  color: var(--text-light);
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.buttons_container_w200 {
  width: 200px;
  margin-top: 30px;
}

.button {
  padding: 0px 20px;
  border-radius: 82px;
  background-color: var(--background-grey);
  color: var(--text-light);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  transition: 0.2s all;
}

.button:hover {
  background-color: var(--background-grey-hover);
}

.button:focus,
.active {
  background-color: var(--background-focus);
  color: var(--text-grey);
}

.button_colored {
  background-color: var(--background-focus);
  color: var(--text-grey);
  transition: 0.5s all;
}

.button_colored:hover {
  color: var(--text-light);
}

.select {
  padding: 10px 20px;
  padding-left: 15px;
  border-radius: 82px;
  background-color: var(--background-grey);
  color: var(--text-light);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  height: 100px;
  background-color: var(--background-grey);
}
